.profile__img-container {
    position: relative;
}
.profile__img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* .profile__img-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
} */
.camera__icon {
    position: absolute;
    bottom: 17px;
    cursor: pointer;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    display: none;
}
.profile__img-container:hover .camera__icon {
    display: block;
}
.profile__img-container:hover::after {
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(52, 64, 84, 0.6);
}

.share__button,
.more__button {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 600px) {
    .share__button-container {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .more__button-container,
    .share {
        display: none;
    }
}
.tooltip {
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    right: 220px;
    bottom: 86px;
    border-radius: 7px;
    background-color: #101828;
    color: #fff;
    padding: 0.7rem;
    visibility: hidden;
}
.tooltip::after {
    content: '';
    position: absolute;
    right: -5px;
    top: 14px;
    width: 19px;
    height: 19px;
    z-index: -8;
    background-color: #101828;
    transform: rotate(45deg);
}

.tip:hover .tooltip {
    visibility: visible;
}

.span {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(124, 121, 121);
    white-space: nowrap;
}

.share__container {
    position: relative;
}
