.profile__img-container {
    position: relative;
}
.profile__img {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

/* .profile__img-container::after {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 70px;
    height: 70px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.4);
} */
.camera__icon {
    position: absolute;
    bottom: 17px;
    cursor: pointer;
    left: 50%;
    z-index: 99;
    transform: translateX(-50%);
    display: none;
}
.profile__img-container:hover .camera__icon {
    display: block;
}
.profile__img-container:hover::after {
    position: absolute;
    top: 5px;
    left: 5px;
    content: '';
    width: 80px;
    height: 80px;
    border-radius: 50%;
    cursor: pointer;
    background-color: rgba(52, 64, 84, 0.6);
}

.share__button,
.more__button {
    width: 35px;
    height: 35px;
}

@media screen and (max-width: 600px) {
    .share__button-container {
        display: none;
    }
}
@media screen and (min-width: 600px) {
    .more__button-container {
        display: none;
    }
}
