* {
    font-family: 'Roboto Condensed', sans-serif;
}
textarea {
    resize: none;
}
form {
    position: relative;
}

input,
textarea {
    font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
    font-size: 0.9rem;
}
.name {
    display: flex;

    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}
.email {
    position: relative;
}
.message {
    position: relative;
}
.firstname,
.lastname,
.email,
.submit,
.message {
    display: flex;
    flex-direction: column;

    margin-bottom: 15px;
}
.firstname span,
.lastname span,
.email span,
.message span {
    font-size: 1rem;
    font-weight: 500;
}
.firstname,
.lastname {
    width: 48%;
}
.name input {
    padding: 0.8rem;

    border-radius: 5px;
    border: 1px rgb(218, 217, 217) solid;
}
.email input {
    padding: 0.8rem;
    border-radius: 5px;
    border: 1px rgb(218, 217, 217) solid;
    margin-bottom: 1rem;
    width: 100%;
}
.message textarea {
    padding: 1rem 0.5rem;
    height: 7rem;
    border-radius: 5px;
    border: 1px rgb(218, 217, 217) solid;
    margin-bottom: 1rem;
}

.visible {
    display: block;
    color: rgb(223, 113, 113);

    padding: 1rem;
    font-size: 1rem;
}
.hidden {
    display: none;
}

.error input,
.error textarea {
    border: 1px rgb(156, 33, 33) solid;
}
.error input:focus,
.error textarea:focus {
    border: 2px rgb(156, 33, 33) solid;
    outline: none !important;
}
input:focus,
textarea:focus {
    border: 2px rgb(66, 159, 240) solid;
    outline: none !important;
}

.yupError {
    position: absolute;
    bottom: -13px;
    color: red;
}
.yupError__message {
    position: absolute;
    bottom: -10px;
    color: red;
}

.error .css-i4bv87-MuiSvgIcon-root {
    color: red;
}
.toAST {
    font-family: 'Roboto Condensed', sans-serif;
    position: relative;
    bottom: 0rem;
    left: 20%;
}
.toAST span {
    font-weight: 600;
}
.contact__container {
    border: 2px solid rgba(135, 135, 135, 0.197);
    width: 55%;
    border-radius: 5px;
    padding: 2rem;
}

@media screen and (max-width: 850px) {
    .css-1iiu75p-MuiTypography-root {
        font-size: 2rem;
    }
    .css-1vzl55l-MuiTypography-root {
        font-size: 1.2rem;
    }
    .name {
        flex-direction: column;
        align-items: flex-start;
    }
    .firstname,
    .lastname {
        width: 100%;
    }
    .firstname .yupError {
        bottom: 77px;
    }
}

@media screen and (max-width: 760px) {
    .contact__container {
        width: 66%;
    }
    .css-1iiu75p-MuiTypography-root {
        font-size: 2rem;
    }
    .css-1vzl55l-MuiTypography-root {
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 600px) {
    .contact__container {
        width: 90%;
    }
    .css-1vzl55l-MuiTypography-root {
        font-size: 1rem;
    }
}
@media screen and (max-width: 415px) {
    .css-1vzl55l-MuiTypography-root {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 395px) {
    .css-1vzl55l-MuiTypography-root {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 370px) {
    .css-1vzl55l-MuiTypography-root {
        font-size: 0.8rem;
        word-wrap: break-word;
    }
}

/* .contact__container {
    border: 1px solid red;
} */
