* {
    font-family: 'Inter', sans-serif;
}
textarea {
    resize: none;
}
form {
    position: relative;
}

input,
textarea {
    font-size: 1rem;
}

input::placeholder,
textarea::placeholder {
    font-size: 0.9rem;
}
.name {
    display: flex;

    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 1rem;
}
.email {
    position: relative;
}
.message {
    position: relative;
}
.firstname,
.lastname,
.email,
.submit,
.message {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 15px;
}

.firstname label,
.lastname label,
.email label,
.message label {
    font-size: 14px;
    font-weight: 600;
    color: #344054;
}
.firstname,
.lastname {
    width: 48%;
}
.name input {
    padding: 0.8rem;

    border-radius: 8px;
    border: 1px #d0d5dd solid;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
}
.email input {
    padding: 0.8rem;
    border-radius: 8px;
    border: 1px #d0d5dd solid;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.1);
    margin-bottom: 1rem;
    width: 100%;
}
.message textarea {
    padding: 1rem 0.5rem;
    height: 7rem;
    border-radius: 8px;
    box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.2);
    border: 1px #d0d5dd solid;
    margin-bottom: 1rem;
}

.visible {
    display: block;
    color: rgb(223, 113, 113);

    padding: 1rem;
    font-size: 1rem;
}
.hidden {
    display: none;
}

.error input,
.error textarea {
    border: 1px rgb(206 9 9) solid;
}
.error input:focus,
.error textarea:focus {
    border: 2px rgb(156, 33, 33) solid;
    outline: none !important;
}
input:focus,
textarea:focus {
    border: 2px rgb(66, 159, 240) solid;
    outline: none !important;
}

.yupError {
    position: absolute;
    bottom: -13px;
    font-size: 13px;
    color: red;
}
.yupError__message {
    position: absolute;
    bottom: -10px;
    color: red;
    font-size: 13px;
}

.error .css-i4bv87-MuiSvgIcon-root {
    color: red;
}
.error .test:focus {
    box-shadow: 0px 0px 0px 4px #ffd1d9;
}

.toAST {
    font-family: 'Inter', sans-serif;
    position: relative;
    bottom: 0rem;
    left: 20%;
}
@media screen and (min-width: 900px) {
    .toAST {
        position: absolute;
        bottom: 30rem;
        left: 110%;
    }
}
.toAST span {
    font-weight: 600;
}
.contact__container {
    width: 55%;

    padding: 2rem;
}
.agree {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.agree span {
    font-size: 14px;
}

.test {
    margin: 0px;
    background-color: white;
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    appearance: none;
    font: inherit;
    color: currentColor;
    width: 1.1em;
    height: 1.1em;
    border: 1px solid #d0d5dd;
    border-radius: 0.3em;
    transform: translateY(-0.075em);
    display: grid;
    position: relative;
    place-content: center;
}
.test:checked {
    border: 1px solid #1570ef;
}
.test:focus {
    border: 1px solid #84caff;
    box-shadow: 0px 0px 0px 4px #d1e9ff;
}

.test::before {
    content: '✓';
    color: #1570ef;
    position: absolute;
    bottom: -4px;
    left: 2px;
    transform: scale(0);

    transform-origin: bottom left;
}
.test:checked::before {
    transform: scale(0.956);
}
.test:focus::before {
    bottom: -4px;
    left: 2px;
}

@media screen and (max-width: 850px) {
    .css-1iiu75p-MuiTypography-root {
        font-size: 2rem;
    }
    .css-1vzl55l-MuiTypography-root {
        font-size: 1.2rem;
    }
    .name {
        flex-direction: column;
        align-items: flex-start;
    }
    .firstname,
    .lastname {
        width: 100%;
    }
    .firstname .yupError {
        bottom: 83px;
    }
}

@media screen and (max-width: 818px) {
    .test {
        width: 1.3em;
        /* height: 1.1em; */
    }
    /* .test::before {
        bottom: -2.5px;
        left: 3px;
    } */
}
@media screen and (max-width: 760px) {
    .contact__container {
        width: 66%;
        padding: 0;
    }
    .css-1iiu75p-MuiTypography-root {
        font-size: 2rem;
    }
    .css-1vzl55l-MuiTypography-root {
        font-size: 1.2rem;
    }
    .test {
        width: 1.1em;
        /* height: 1.1em; */
    }
    /* .test::before {
        bottom: -2.5px;
        left: 3px;
    } */
}

@media screen and (max-width: 600px) {
    .contact__container {
        width: 90%;
    }
    .css-1vzl55l-MuiTypography-root {
        font-size: 1rem;
    }
    .test {
        width: 1.1em;
        /* height: 1.1em; */
    }
    .test::before {
        bottom: -2.5px;
        left: 3px;
    }
}
@media screen and (max-width: 477px) {
    .test {
        /* height: 1.1em; */
    }
    .test::before {
        bottom: -2.5px;
        left: 1px;
    }
}
@media screen and (max-width: 415px) {
    .css-1vzl55l-MuiTypography-root {
        font-size: 0.9rem;
    }
    .test {
        width: 1.3em;
        /* height: 1.1em; */
    }
    .test::before {
        bottom: -2.5px;
        left: 1px;
    }
    .test:focus::before {
        bottom: -4px;
        left: 1px;
    }
}
@media screen and (max-width: 395px) {
    .css-1vzl55l-MuiTypography-root {
        font-size: 0.9rem;
    }
}
@media screen and (max-width: 370px) {
    .css-1vzl55l-MuiTypography-root {
        font-size: 0.8rem;
        word-wrap: break-word;
    }
}

/* .contact__container {
    border: 1px solid red;
} */
