.footer__web2 img,
.footer__web img {
    width: 100%;
}
.css-dv7vyt {
    margin-top: 0;
}
.css-ypja1f {
    margin-bottom: 2rem;
}
.slack__icon {
    display: none;
}

@media (max-width: 600px) {
    .footer__web {
        display: none;
    }
}
@media (min-width: 600px) {
    .footer__web2 {
        display: none;
    }
}
